:root {
  --background-color: #2c2c6c;
  --text-color: #fb4c0d;
  --main-color: var(--background-color);
  --shadow1: 10px 10px 15px rgba(0,0,0, 0.3);
  --shadow2: 10px 10px 15px rgba(0, 0, 0, 0.25);
}

body, .container, .image-container, .strk, .progress-bar, .flying-text {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  touch-action: manipulation;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Tiny5', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80%; 
  width: 80%; 
  max-width: 500px; 
}

.strk {
  font-size: 40px;
  background: rgba(25, 25, 25, 0.75);
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  box-shadow: var(--shadow2);
  margin-bottom: 20px; 
}

.image-container {
  position: relative;
  width: 100%;
  text-align: center;
}

#clickImage {
  width: 300px;
  filter: drop-shadow(var(--shadow1));
  transition: transform 0.3s ease;
  cursor: pointer;
}

.progress-bar {
  width: 100%;
  height: 30px;
  background-color: #7a3848;
  border-radius: 20px;
  filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.25));
  margin-top: 20px; 
}

.progress-bar-fill {
  height: 100%;
  background-color: #5c5c8c;
  height: 30px;
  border-radius: 20px;
  width: 0%; 
  transition: width 0.3s;
}

.flying-text {
    position: absolute;
    color: red;
    font-weight: bold;
    font-size: 25px; 
    pointer-events: none;
    animation: fly 1s ease-out;
    transform-origin: center bottom;
}

@keyframes fly {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(+100px);
    opacity: 0;
  }
}
